:root {
    --primary-color: #a63a50; /*Amaranth Purple*/
    --secondary-color: #f0e7d8; /*Antique White*/
    --accent1-color: #ab9b96; /*Cinereous*/
    --accent2-color: #a1674a; /*Brown Sugar*/
    --accent3-color: #ba6e6e; /*Old Rose*/
    --heading-font: "Playfair Display", serif;
    --body-font: "Intel One Mono", sans-serif;
}

